
.SliderContainer{
    /* slider responsive memfullkan lebar dan tinggi untuk menangkap luas slides yang 100% */
    display: grid;
    
}


.Slider { 
    /* grid, posisi dan menyesuaikan luas container  */ 
    width: 100%;
    display: grid;
    /* grid-template-rows: 0.1fr 0.9fr; */
    grid-template-rows: 1fr;    
    grid-template-areas: "Slides";

    background: var(--GlassBG);
     /* backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px); */
    padding: 10px;
    border-radius: 8px;
    align-items: start;

        
}

.SliderNav{
    /* background: green; */
    grid-area: Nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.SliderNav div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--Act);

    display: grid;
    place-items: center;
}

.Slides {
    grid-area: Slides;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;


    /* background: red; */
    
    align-self: start;
    height: 100%;
}

.SlidesGroup{
    
    display: grid;
    grid-template-areas: "head" "body" "foot";
    grid-template-rows: 0.1fr 0.9fr 0.1fr;

    width: 100%;
    height: 100%;
    
}

.SlidesGroup h3{
    grid-area: head;
    margin-top: 5px;
    text-align: center;
}

.Slides > div { 
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.SlidesBody{
    grid-area: body;
   
    display: grid;
    gap: 15px;
    height: 100%;
}

.SlidesFooter{
    grid-area: foot;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "left right";
    gap: 15px;
    padding: 10px;
    text-align: center;
    /* width: 100%; */
}
