
.AppRoot{
    display: grid;
    grid-template-columns: 0.2fr 0.80fr;

    height: 100vh;
    position: relative;
}

.AppRoot__Nav{
  
    padding: 0 30px;
    
}

.AppRoot__Content{
  
    position: relative;
    overflow: hidden;
  
    padding: 28px;
   
}
