.layout{
    position: absolute;
    top: 0;
    left: 0;

     background: var(--BG);
    width: 100vw;
    height: 100vh;

    padding: auto;
}

.container{
    text-align: center;
   
    width: 50%;
    margin: auto;

    display: grid;
    gap: 70px;
    height: 50%;

    place-content: center;
}